# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak

# Arquivos de relatórios ou testes gerados
test-output/
*.puml

# Arquivos de build automatizado
/build/